.container {
    position: relative;
    max-width: 400px;
    margin: auto;
}

.loader {
    position: absolute;
    right: 12px;
    top: 7px;
}

.paper {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 5;
}

.group {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.group:hover {
    background-color: #f0f0f0;
}